:root {
  --green: #008000;
}
body {
  margin: 0;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
/* CARD */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  color: #000;
  overflow: hidden;
  margin-bottom: 1.78vw;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.card img:hover {
  opacity: 0.9;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  margin-top: 1.48vw;
  font-size: clamp(0.675rem, 5vw, 0.875rem);
}
.card-category {
  letter-spacing: 1px;
  text-transform: capitalize;
}
.card-category:hover,
.card h4:hover {
  color: var(--green);
}
.card-slash {
  font-weight: 700;
}
.card-date {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card h4 {
  font-size: clamp(0.675rem, 10vw, 1.42rem);
  line-height: 1.4;
  font-weight: 500;
  margin-top: 0.29vw;
}
@media (min-width: 992px) {
  .card-container {
    max-width: 88vw;
  }
  .card {
    width: 26.3vw;
  }
  .card img {
    height: 16vw;
  }
  .card-slash {
    margin-left: 0.75vw;
    margin-right: 0.75vw;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .card {
    width: 43vw;
  }
  .card img {
    height: 26vw;
  }
  .card-slash {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
@media (max-width: 575.98px) {
  .card {
    width: 92vw;
  }
  .card img {
    height: 50vw;
  }
  .card-slash {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }
}
/* END CARD */
